* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #031927;
    max-width: 100%;
}

header{
    align-items: center;
    background-color: rgba(80, 138, 168, 0.5);
}

nav, nav div{
    align-items: center;
    font-weight: 500;
}

nav a{
    border-bottom: solid 2px transparent;
    transition: 0.3s;
}

nav a:hover{
    border-bottom: solid 2px black;
}

.content img{
    background-color: #1e88ff;
    border-radius: 10px;
}

h1 {
    font-size: 26px;
}

content a:link, a:visited, header a:link{
    text-decoration: none;
    color: black;
}


.title-weetjes{
    color: black;
    font-size: 34px;
}

#list-of-facts{
    flex-direction: column;
    justify-content: center;
}

#list-of-facts li{
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 22px;
    border-radius: 5px;
    padding: 15px;
    border: solid 5px #C8E0F4;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

#list-of-facts li p:nth-child(1)
{
    font-weight: 500;
}

.alert{
    position: fixed;
    bottom: 0;
    right: 0;
}

.bottom-line{
    border-bottom: solid 2px black;
}

.alert{
    background-color: #FF6961;
    color: #031927;
    border: #C23B22 solid 2px;
}

.subject{
    border: solid 5px #C8E0F4;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
  
.container {
  position: relative;
  display: inline-block;
}

#image {
  display: block;
  width: auto; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

.svg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

circle:hover {
  fill: blue;
  r: 7px;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none; /* Initially hidden */
  z-index: 5;
}

.info{
    font-size: 22px;
    font-weight: 600;
}

.random-fact-title, .additional-info{
    font-weight: 500;
}

.warning{
    color: red;
    font-weight: 400;
}

.title-form{
    font-weight: 500;
}

.btn{
    background-color: #C8E0F4;
    color: #031927;
}

footer{
    align-items: center;
    background-color: rgba(80, 138, 168, 0.5);
}

.link-footer{
    text-decoration: underline;
}

.link-footer:hover{
    color: #1e88ff;
}

#resultaat{
    padding: 25px;
    border: #C23B22 solid 4px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    display: none;
}

#BelgiëText, #FrankrijkText, #NederlandText{
    visibility: hidden;
} 

header img{
    width: 50px;
}

.logo-and-title{
    align-items: center;
}

.nav-item{
    margin-left: 10px;
    border: 3px solid transparent;
    margin-bottom: -3px;
    color: black;
}

.active{
    border: 3px solid #C8E0F4;
    border-radius: 8px 8px 0 0; /* Slightly rounded top corners */
    border-bottom: none; /* Clear bottom border */
    cursor: pointer;
}

.subject-2{
    height: 600px;
}

